Assemblies/0Harmony.dll
Assemblies/0Harmony.pdb
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net10.0/0Harmony.dll
Assemblies/0Harmony.xml
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net10.0/0Harmony.pdb
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net10.0/0Harmony.xml
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net35/0Harmony.dll
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net35/0Harmony.pdb
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net35/0Harmony.xml
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net452/0Harmony.dll
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net452/0Harmony.pdb
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net452/0Harmony.xml
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net472/0Harmony.dll
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net472/0Harmony.pdb
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net472/0Harmony.xml
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net48/0Harmony.dll
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net48/0Harmony.pdb
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net48/0Harmony.xml
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net5.0/0Harmony.dll
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net5.0/0Harmony.pdb
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net5.0/0Harmony.xml
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net6.0/0Harmony.dll
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net6.0/0Harmony.pdb
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net6.0/0Harmony.xml
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net7.0/0Harmony.dll
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net7.0/0Harmony.pdb
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net7.0/0Harmony.xml
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net8.0/0Harmony.dll
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net8.0/0Harmony.pdb
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net8.0/0Harmony.xml
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net9.0/0Harmony.dll
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net9.0/0Harmony.pdb
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/net9.0/0Harmony.xml
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/netcoreapp3.0/0Harmony.dll
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/netcoreapp3.0/0Harmony.pdb
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/netcoreapp3.0/0Harmony.xml
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/netcoreapp3.1/0Harmony.dll
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/netcoreapp3.1/0Harmony.pdb
Source/AssemblyParasitesColonThree/packages/Lib.Harmony.2.4.2/lib/netcoreapp3.1/0Harmony.xml
Sounds/Sound Org Notes.txt
